@model IEnumerable<RevatureP1.Models.Store>

@{
    ViewData["Title"] = "Store Locations";
}

<h1>Index</h1>

<p>
    <!--<a asp-action="Create">Create New</a>-->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="AvailableProducts" asp-route-id="@item.StoreId">Available Products</a> |
                <a asp-action="OrderHistory" asp-route-id="@item.StoreId">Order History</a> 
            </td>
        </tr>
}
    </tbody>
</table>
